* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    height: 100%;
    width: 100%;
}

.rootpanel {
    background-color: #f3f3f3;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 5px 0 5px;
}

.mainpanel {
    display: flex;
    flex: 1;
    overflow: auto;
}

.navigationpanel {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 4px;
    width: 332px;
}

.navigationpanel.collapsed {
    width: unset;
}

.navigationpanel.collapsed .navigationbutton .icon {
    width: 20px;
}

.navigationpanel.collapsed .navigationbutton .label {
    display: none;
}

.navigationpanel .navigationtable {
    flex: 1;
    overflow: auto;
}

.navigationbutton {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 1px;
    padding: 10px;
    position: relative;
}

.navigationbutton.homebutton {
    width: 20px;
}

.navigationbutton.selected {
    background-color: rgba(0, 0, 0, .04);
}

.navigationbutton:hover {
    background-color: rgba(0, 0, 0, .07);
}

.navigationbutton.selected::before {
    background-color: #0067C0;
    border-radius: 2px;
    content: '';
    display: block;
    left: 0px;
    height: 20px;
    position: absolute;
    width: 3px;
    top: 10px;
}

.navigationbutton .icon {
    font-family: 'Segoe MDL2 Assets';
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 34px;
}

.navigationbutton .label {
    font-size: 15px;
    height: 20px;
    line-height: 16px;
}

.contentpanel {
    background-color: #fbfbfb;
    border: solid rgba(0, 0, 0, .1);
    border-width: 1px 0 0 1px;
    border-top-left-radius: 10px;
    display: none;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 50px;
}

.contentpanel.visible {
    display: flex;
}

.contentpanel > .title {
    font-size: 28px;
    margin-bottom: 10px;
}

.contentpanel > .subtitle {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contentpanel > p {
    margin-bottom: 10px;
}

.contentpanel > .description {
    color: rgba(0, 0, 0, .5);
}

.contentpanel > .error {
    color: red;
}

.buttonbar {
    margin-bottom: 2px;
}

.buttonbar button {
    background-color: #005a9e;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 9px;
}

.buttonbar button:active {
    background-color: #004a83;
}

.buttonbar button:disabled {
    background-color: #cccccc;
    cursor: default;
}

.listbox {
    font-size: 15px;
    margin-bottom: 10px;
    min-height: 300px;
}

.listbox option {
    border-radius: 4px;
    margin: 2px;
    padding: 4px 6px;
}

textarea.protocol {
    border-radius: 4px;
    flex: 1 1 0%;
    font-family: monospace;
    padding: 4px;
    resize: none;
}

.settingscard {
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0, .07);
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    padding: 24px;
}

.settingscard .icon {
    align-self: center;
    font-family: 'Segoe MDL2 Assets';
    font-size: 20px;
    height: 20px;
    line-height: 100%;
    margin-right: 24px;
}

.settingscard .text {
    align-self: center;
    flex: 1;
}

.settingscard .text .title {
    font-size: 15px;
}

.settingscard .text .description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.settingscard .text .value {
    color: #0066ff;
    font-size: 14px;
    margin-top: 6px;
}

.settingscard .action {
    align-self: center;
    margin-left: 24px;
}

.settingscard .action button {
    background-color: #005a9e;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 9px;
}

.settingscard .action button:active {
    background-color: #004a83;
}

.settingscard .action select {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 9px;
}

.settingscard .action input {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 9px;
}

.toggle {
    cursor: pointer;
    display: block;
    height: 28px;
    position: relative;
    visibility: hidden;
    width: 58px;
}

.toggle::before {
    background-color: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 14px;
    content: '';
    cursor: pointer;
    display: block;
    height: 26px;
    left: 0;
    position: absolute;
    visibility: visible;
    top: 0;
    width: 56px;
}

.toggle::after {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 9px;
    content: '';
    display: block;
    height: 18px;
    left: 5px;
    position: absolute;
    top: 5px;
    visibility: visible;
    width: 18px;
}

.toggle:checked:before {
    background-color: #005A9E;
    border-color: #005A9E;
}

.toggle:checked:after {
    background-color: #F8F8F8;
    left: unset;
    right: 5px;
}

.category {
    display: flex;
    margin-top: 4px;
}

.category .action {
    padding-right: 10px;
    padding-top: 2px;
}

.category .info {
    padding-left: 10px;
}

.category .title {
    font-size: 17px;
    padding: 5px 0px;
}