* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    height: 100%;
    width: 100%;
}

.rootpanel {
    background-color: #f3f3f3;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 5px 0 5px;
}

.mainpanel {
    display: flex;
    flex: 1;
}

.navigationpanel {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 4px;
    width: 332px;
}

.navigationpanel.collapsed {
    width: unset;
}

.navigationpanel.collapsed .navigationbutton .icon {
    width: 20px;
}

.navigationpanel.collapsed .navigationbutton .label {
    display: none;
}

.navigationpanel .navigationtable {
    flex: 1;
}

.navigationbutton {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 1px;
    padding: 10px;
    position: relative;
}

.navigationbutton.smalliconbutton {
    width: 20px;
}

.navigationbutton.selected {
    background-color: rgba(0, 0, 0, .04);
}

.navigationbutton:hover {
    background-color: rgba(0, 0, 0, .07);
}

.navigationbutton.selected::before {
    background-color: #0067C0;
    border-radius: 2px;
    content: '';
    display: block;
    left: 0px;
    height: 20px;
    position: absolute;
    width: 3px;
    top: 10px;
}

.navigationbutton .icon {
    font-family: 'Segoe MDL2 Assets';
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 34px;
}

.navigationbutton .label {
    font-size: 15px;
    height: 20px;
    line-height: 16px;
}

.contentpanel {
    background-color: #ffffff;
    border: solid rgba(0, 0, 0, .1);
    border-width: 1px 0 0 1px;
    border-top-left-radius: 10px;
    flex: 1;
}
