* { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    height: 100%;
    width: 100%;
}

.rootpanel {
    background-color: #f3f3f3;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 5px 0 5px;
}

.mainpanel {
    display: flex;
    flex: 1;
    overflow: auto;
}

.navigationpanel {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 4px;
    width: 332px;
}

.navigationpanel.collapsed {
    width: unset;
}

.navigationpanel.collapsed .navigationbutton .icon {
    width: 20px;
}

.navigationpanel.collapsed .navigationbutton .label {
    display: none;
}

.navigationpanel .navigationtable {
    flex: 1;
    overflow: auto;
}

.navigationbutton {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 1px;
    padding: 10px;
    position: relative;
}

.navigationbutton.homebutton {
    width: 20px;
}

.navigationbutton.selected {
    background-color: rgba(0, 0, 0, .04);
}

.navigationbutton:hover {
    background-color: rgba(0, 0, 0, .07);
}

.navigationbutton.selected::before {
    background-color: #0067C0;
    border-radius: 2px;
    content: '';
    display: block;
    left: 0px;
    height: 20px;
    position: absolute;
    width: 3px;
    top: 10px;
}

.navigationbutton .icon {
    font-family: 'Segoe MDL2 Assets';
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    width: 34px;
}

.navigationbutton .label {
    font-size: 15px;
    height: 20px;
    line-height: 16px;
}

.contentpanel {
    background-color: #fbfbfb;
    border: solid rgba(0, 0, 0, .1);
    border-width: 1px 0 0 1px;
    border-top-left-radius: 10px;
    display: none;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 50px;
}

.contentpanel.visible {
    display: flex;
}

.contentpanel > .title {
    font-size: 28px;
    margin-bottom: 10px;
}

.contentpanel > p {
    margin-bottom: 10px;
}

.contentpanel > .description {
    color: rgba(0, 0, 0, .5);
}

.settingscard {
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0, .07);
    border-radius: 5px;
    display: flex;
    margin-bottom: 5px;
    padding: 24px;
}

.settingscard .icon {
    align-self: center;
    font-family: 'Segoe MDL2 Assets';
    font-size: 20px;
    height: 20px;
    line-height: 100%;
    margin-right: 24px;
}

.settingscard .text {
    align-self: center;
    flex: 1;
}

.settingscard .text .title {
    font-size: 15px;
}

.settingscard .text .description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}

.settingscard .action {
    align-self: center;
    margin-left: 24px;
}

.settingscard .action button {
    background-color: #005a9e;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 9px;
}

.settingscard .action select {
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 9px;
}

.settingscard .action .toggle {
    background-color: #F8F8F8;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 14px;
    height: 26px;
    position: relative;
    width: 56px;
}

.settingscard .action .toggle::before {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 9px;
    content: '';
    display: block;
    height: 18px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 18px;
}

.settingscard .action .toggle.on {
    background-color: #005A9E;
    border-color: #005A9E;
}

.settingscard .action .toggle.on::before {
    background-color: #F8F8F8;
    left: unset;
    right: 4px;
}
