<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPED_Gui_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IPED_Gui_WinForms.Properties.Settings>
            <setting name="General_Append" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Continue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Download_Internet_Data" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableAudioTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableImageClassification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Output_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="General_Portable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioTranslationInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationProcessVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageClassificationInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsIpedExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalConfigLocale" serializeAs="String">
                <value>de-DE</value>
            </setting>
            <setting name="LocalConfigIndexTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalConfigIndexTempOnSSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalConfigOutputOnSSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalConfigNumThreads" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="LocalConfigHashesDB" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalConfigPluginFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationServiceProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationProcessingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationFasterWhisperDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationArgosTranslateDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationModelSize" serializeAs="String">
                <value>large-v2</value>
            </setting>
            <setting name="AudioTranslationUseGPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageClassificationServiceProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationProcessingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationMobileNetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationLanguage" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="FileSystemConfigAddUnallocated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemConfigRobustImageReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemConfigNumImageReaders" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="FileSystemConfigAddFileSlacks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemConfigMinOrphanSizeToIgnore" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FileSystemConfigUnallocatedFragSize" serializeAs="String">
                <value>1073741824</value>
            </setting>
            <setting name="FileSystemConfigIgnoreHardLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemConfigSkipFolderRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="IPEDConfigEnableHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnablePhotoDNA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableHashDBLookup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnablePhotoDNALookup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableLedDie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEenableYahooNSFWDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableQRCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigIgnoreDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigExportFileProps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigProcessFileSignatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableFileParsing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigExpandContainers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigProcessEmbeddedDisks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableRegexSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableAutomaticExportFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableLanguageDetect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableNamedEntityRecogniton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableGraphGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEntropyTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigIndexFileContents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableIndexToElasticSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableMinIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableAudioTranscription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableCarving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableLedCarving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableKnownMetCarving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableImageThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableImageSimilarity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableFaceRecognition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableVideoThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableDocThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableHTMLReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableTextTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CategoriesToExportDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRTFDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPDFDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportHTMLDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTextDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportXMLFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportGeoreferencedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportSpreadsheets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPresentations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOLEfiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportLinkfiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportURLlinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportEmailsandMailboxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMailboxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportEmails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportAppointments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportWin10MailAppAdditionalInfo"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMultimedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportAudios" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportVideos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportVideoThumbnails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTemporaryInternetImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportImagesinSystemFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportScannedDocuments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportWindowsArtifacts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportEventFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportEventRecords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPrefetchandSuperfetch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportUserActivities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportUserActivitiesEntries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportWindowsRegistry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMainRegistryFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherRegistryFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryFullReports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryCustomReports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryOSInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryInstalledApps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryNetworkInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryStorageInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryDeviceInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryProgramRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryAutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryLogInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryMalwareInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryWebInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserAccounts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserActivity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserNetworkActivity"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserVirtualization"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRegistryUserCommunication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportGoogleDrive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportGDriveSyncedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportGDriveFileEntries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportDatabases" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportCompressedArchives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportContacts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportChats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportWhatsApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMessenger" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportSkype" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTelegram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportJabber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportFacebook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportInstagram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportDiscord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportChatActivities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOthersChats" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportUSNJournal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportProgramsandLibraries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportUnallocated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportFileSlacks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPlainTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTemporaryInternetTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTextsinSystemFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherfiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPeertopeer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportAresGalaxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportEMule" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportShareaza" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTorrent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherPeertopeer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportBrowserArtifacts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportInternetHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportInternetHistoryEntries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportWebBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMozillaFirefoxSavedSession"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportTorTCFragment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportImageDisks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportISOdisks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportVirtualdisks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportOtherdisks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportExtractionSummary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportCalls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportSMSMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMMSMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportInstantMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportBluetoothDevices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportSIMData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportCalendar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportUserAccounts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportSearches" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportWirelessNetworks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportLocations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportCookies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportConfiguration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPasswords" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportAutofill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportCellTowers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportPowerEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportUserDictionaries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportIPConnections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRecordings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportMobileCards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportApplicationsUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportDeviceInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportActivitiesSensor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportCreditCards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportDeviceConnectivity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportDeviceEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportFileDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportJourneys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportNetworksUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportRecognizedDevices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoriesToExportSocialMediaActivities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralSearchTermFilePath" serializeAs="String">
                <value />
            </setting>
        </IPED_Gui_WinForms.Properties.Settings>
    </userSettings>
</configuration>