<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPED_Gui_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IPED_Gui_WinForms.Properties.Settings>
            <setting name="General_Append" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Continue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Download_Internet_Data" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableAudioTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableImageClassification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Output_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="General_Portable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioTranslationInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationProcessVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageClassificationInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsIpedExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsLocale" serializeAs="String">
                <value>de-DE</value>
            </setting>
            <setting name="SettingsIndexTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsIndexTempOnSSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsOutputOnSSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsNumThreads" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="SettingsHashesDB" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsPluginFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationServiceProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationProcessingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationFasterWhisperDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationArgosTranslateDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationModelSize" serializeAs="String">
                <value>large-v2</value>
            </setting>
            <setting name="AudioTranslationUseGPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageClassificationServiceProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationProcessingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationMobileNetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationLanguage" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="SettingsEnableCarving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemConfigAddUnallocated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsEnableFaceRecognition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsEnableGraphGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioTranslationMaxVideoLength" serializeAs="String">
                <value>0</value>
            </setting>
        </IPED_Gui_WinForms.Properties.Settings>
    </userSettings>
</configuration>