<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPED_Gui_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IPED_Gui_WinForms.Properties.Settings>
            <setting name="General_Append" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Continue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Download_Internet_Data" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableAudioTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableImageClassification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Output_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="General_Portable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioTranslationInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationProcessVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageClassificationInputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsIpedExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalConfigLocale" serializeAs="String">
                <value>de-DE</value>
            </setting>
            <setting name="LocalConfigIndexTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalConfigIndexTempOnSSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalConfigOutputOnSSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalConfigNumThreads" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="LocalConfigHashesDB" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalConfigPluginFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationServiceProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationProcessingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationFasterWhisperDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationArgosTranslateDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioTranslationModelSize" serializeAs="String">
                <value>large-v2</value>
            </setting>
            <setting name="AudioTranslationUseGPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageClassificationServiceProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationProcessingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationMobileNetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageClassificationLanguage" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="FileSystemConfigAddUnallocated" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemConfigRobustImageReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemConfigNumImageReaders" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="FileSystemConfigAddFileSlacks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileSystemConfigMinOrphanSizeToIgnore" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="FileSystemConfigUnallocatedFragSize" serializeAs="String">
                <value>1073741824</value>
            </setting>
            <setting name="FileSystemConfigIgnoreHardLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileSystemConfigSkipFolderRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="IPEDConfigEnableHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnablePhotoDNA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableHashDBLookup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnablePhotoDNALookup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableLedDie" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEenableYahooNSFWDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableQRCode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigIgnoreDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigExportFileProps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigProcessFileSignatures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableFileParsing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigExpandContainers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigProcessEmbeddedDisks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableRegexSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableAutomaticExportFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableLanguageDetect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableNamedEntityRecogniton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableGraphGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEntropyTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigIndexFileContents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableIndexToElasticSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableMinIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableAudioTranscription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableCarving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableLedCarving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableKnownMetCarving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfigEnableImageThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableImageSimilarity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableFaceRecognition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableVideoThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableDocThumbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableHTMLReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPEDConfigEnableTextTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CategoriesToExportDocuments" serializeAs="String">
                <value>True</value>
            </setting>
        </IPED_Gui_WinForms.Properties.Settings>
    </userSettings>
</configuration>