<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPED_Gui_WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IPED_Gui_WinForms.Properties.Settings>
            <setting name="General_Iped_Exe_Path" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="General_Relative_IPEDConfig_File_Path" serializeAs="String">
                <value>IPEDConfig.txt</value>
            </setting>
            <setting name="General_Relative_OCRConfig_File_Path" serializeAs="String">
                <value>conf/OCRConfig.txt</value>
            </setting>
            <setting name="General_Append" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Continue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Download_Internet_Data" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfig_enableAudioTranslation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPEDConfig_enableImageClassification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Ocr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_Output_Directory" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="General_Portable" serializeAs="String">
                <value>False</value>
            </setting>
        </IPED_Gui_WinForms.Properties.Settings>
    </userSettings>
</configuration>